<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assurance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assurance.">
        <activity android:name=".ProfilAdmin" />
        <activity android:name=".ProfilClient" />
        <activity android:name=".AuthentificationActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AccueilClient" />
        <activity android:name=".ContratActivity" />
        <activity android:name=".GestionDeContrats" />
        <activity android:name=".AddContractByClient" />
        <activity android:name=".AddContractByAgent" />
        <activity android:name=".VerifyContractOnModifying" />
        <activity android:name=".ModifierContrat" />
        <activity android:name=".VerifyContractOnDeleting" />
        <activity android:name=".SupprimerContrat" />
        <activity android:name=".VerifyContractOnDisplying" />
        <activity android:name=".AfficherContrat" />
        <activity android:name=".DashboardClient" />
        <activity android:name=".DashboardAgent" />
        <activity android:name=".QuestionsAssuranceActivity" />









        <activity
            android:name=".AccueilAdmin"
            android:theme="@style/Theme.Assurance." />
        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_app" />      <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>